<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length) {%> 
                <ul>
                    <% products.forEach(p => { %>
                        <li>
                            <%= p.productData.imageUrl%> 
                            <p>
                                <%= p.productData.title%> (<%= p.qty %>)
                            </p>
                            <p><%= p.productData.description%> </p>
                        </li>
                    <%}) %> 
                    <li></li>
                </ul>
            <% } else { %> 
                <h1>No Products in cart </h1>
                <% } %>
        </main>
        <%- include('../includes/end.ejs') %>